


@font-face {
    font-family: Linux Libertine;
    src: url(font/LinLibertine_R.ttf);
}


body{
    background-color: rgba(171, 239, 51, 0.25);
    margin: 0px;
}

.topbar{
    background-color: rgb(165, 146, 100);
    width: 100vw;
    height: 8vh;
    top: 0;
    position: fixed;
    display: grid;
    grid-template-columns: 9fr 10fr 9fr;
}

.sidebar{
    
    width: 0.6vw;
    height: 100%;
    background-color: rgb(140, 253, 140);
 
    margin-bottom: 0px;
    border-radius: 0px 0px 0px 20px;

}

.center{
    text-align: center;

    border-bottom: 1px solid #000000;
}




.sidebar-tabs{
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

h2{
    font-weight: 25;
    margin: 0px;
    text-align: center;
    font-family: Linux Libertine;
}

h3{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 25;
    margin-top: 3vh;
    margin-bottom: 2vh;
    
}
h4{
    
    font-family: sans-serif;
    font-weight: 25;
    margin: 0;
}

.welcomeCorrection{
    margin-top: -0px;
}

.rubriker{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rubrik{
    margin-left: 3vw;
}

.sidebar-tabs button{
    background-color: rgb(255, 255, 255);
    margin-top: 0.5vh;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
}

.sidebar-tabs button:hover{
    background-color: rgb(170, 170, 170);
}

.TopBarButton{
    margin-left: 1.2vw;
    margin-top: 1.1vh;
    font-size: 4vh;
    border: none;
    background-color: transparent;
}

.TopBarButton:hover{
    color: rgb(73, 73, 73);
}

p{
    margin: 0;
}

.buttonDonate{
    font-size: 2.5vh;
    margin-top: 2vh;
    border: black solid 2px;
    background-color: rgba(73, 73, 73, 0.247);;
    border-radius: 5px;
}

.buttonDonate:hover{
    color: rgb(68, 68, 68);
    background-color:rgba(238, 238, 238, 0.322);;
}

.content {
    margin-top: 8vh;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.textlogoflex{
    margin-left: -4.15vw;;
    display: flex;
    justify-content: center;
}


.logoi{
    width: 4.15vw;
}

.textlogol{
    font-weight: 25;
    font-family: Linux Libertine;
    font-size: 5vh;
    margin-top: 1vh;
    margin-left: 0;
}
.textlogos{
    font-weight: 400;
    font-family: Linux Libertine;
    font-size: 2.9vh;
    margin-top: 2.8vh;
}

.kiwi{
    margin-right: 20px;
}
.main{
    display: flex;
    flex-direction: column;
    
    
}

.welcome{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: #ffffff0e;
}
