


@font-face {
    font-family: Linux Libertine;
    src: url(font/LinLibertine_R.ttf);
}


body{
    background-color: rgba(171, 239, 51, 0.25);
    margin: 0px;
}

.topbar{
    background-color: rgba(106, 56, 12, 0.538);
    width: 100vw;
    height: 8vh;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 8fr 13fr;
}

.sidebar{
    margin-top: 8vh;
    width: 0.6vw;
    height: 100%;
    background-color: rgb(140, 253, 140);
    position: fixed;
    margin-bottom: 0px;

}

.sidebar-tabs button{
    background-color: rgb(255, 255, 255);
}

.button{
    margin-left: 16px;
    margin-top: 10px;
    font-size: 40px;
    border: none;
    background-color: transparent;
}

.button:hover{
    color: rgb(73, 73, 73);
}

p{
    margin: 0;
}

.textlogoflex{
    display: flex;

}
.textlogol{
    
    font-family: Linux Libertine;
    font-size: 5vh;
    margin-top: 1vh;
    margin-left: 0;
}
.textlogos{
    font-family: Linux Libertine;
    font-size: 3vh;
    margin-top: 2.7vh;
}

.kiwi{
    margin-right: 20px;
}
